<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <load href='__PUBLIC__/Css/Home/bootstrap/css/bootstrap.min.css' />
        <load href='__PUBLIC__/Css/Admin/admin_showApplyfor.css' />
    </head>
    <body>
        <div class='box'>
            <table class='table table-bordered table-striped'>
                <tr>
                    <td>标题</td>
                    <td><{$title}></td>
                </tr>
                <tr>
                    <td>类型</td>
                    <td><{$type}></td>
                </tr>
                <tr>
                    <td>现价(元)</td>
                    <td><{$nowPrice}></td>
                </tr>
                <tr>
                    <td>原价(元)</td>
                    <td><{$costPrice}></td>
                </tr>
                <tr>
                    <td>新旧程度</td>
                    <td><{$degree}></td>
                </tr>
                <tr>
                    <td>描述</td>
                    <td><{$details}></td>
                </tr>
                <tr>
                    <td>图片</td>
                    <td></td>
                </tr>
                <tr>
                    <td>地区</td>
                    <td><{$address}></td>
                </tr>
                <tr>
                    <td>联系电话</td>
                    <td><{$connPhone}></td>
                </tr>
            </table>
        </div>
    </body>
</html>