/**
 *      后台登录页面的布局 admin_login.css 2016/4/6
 * 
 * 
 */

/*1.登录框总体布局*/
.box{
    width:1349px;
    height:588px;
    background:#fff;
    overflow:hidden;
}
.login_head{
    width:1190px;
    height:88px;
    background:#337ab7;
    margin:auto;
    padding:22px 0px;
}
.loginA{
    display:block;
    height:28px;
    font-size:28px;
    color:yellow;
    margin-left:50px;
}
.login_cont{
    width:100%;
    postion:relative;
}
.login_cont .inner{
    width:1190px;
    margin:auto;
}
.login_form{
    width:350px;
    height:400px;
    position:absolute;
    top:91px;
    right:180px;
    //background:#fff;
    padding:2px;
    overflow:hidden;
}
.login_form .loginPanel{
    margin-top:50px;
}
.login_form .tbUser{
    width:36px;
    height:42px;
    font-size:25px;
    //border:1px solid blue;
    text-align:center;
    padding-top:5px;
    background:#d8dadc;
    border-radius:5px
}
.login_form .inpUser{
    margin-bottom: 7px;
}
.login_form .btnSub{
    width:280px;
    height:42px;
    font-size:20px;
}
.login_form .contA{
    width:280px;
    height:14px;
    //border:1px solid blue;
}
.login_form .contA a:nth-of-type(1){
    float:left;
}
.login_form .contA a:nth-of-type(2){
    float:right;
}
.newPanel{background:url(../../../Public/Images/admin_login/mask.png);}

/*2.提示错误信息布局*/
#showMessName,#showMessPass{
    width:300px;
    height:50px;
    background-color: #473C8B;
    text-align:center;
    line-height:50px;
    font-size:18px; 
    color:yellow;
    position:absolute;
    left:500px;
    border-radius: 10px;
}
#showMessName{
    top:260px;   
    opacity:0;
}
#showMessPass{
    top:330px;
    opacity:0;
}